.field{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/board.jpg");

    .cardStack{
        position: relative;
        img{
            position: absolute;
            height: 200px;
            width:auto;
        }
    }
}