.field{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/board.jpg");

    .cardStack{
        position: relative;
        img{
            position: absolute;
            height: 200px;
            width:auto;
        }
        

        .topCard{
            cursor: pointer;
            transition: all 175ms ease-in-out;
            &:hover{
                transform: scale(1.1) translateY(-10px);
                
            }
        }
        .playedCard{
            right: 25px;
            transform: scale(1.3) translateX(150px) translateY(-280px) rotate(-10deg);

        }
        .takeCard{
            transition: all 175ms ease-in-out;
            animation: takeCardAnimation 1s ease-in-out;
            transform: scale(1.3) translateX(150px) translateY(-280px) rotate(-10deg);
        }
    }
}

@keyframes takeCardAnimation {
    0%{
        transform: scale(1.5);
    }
    30%{
        transform: scale(1.7);
    }
    50%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.3) translateX(150px) translateY(-280px) rotate(-10deg);
    }
    
}

.playerPosition{
    position: absolute;
    right: 0;
}
.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
}