<app-player *ngFor="let player of this.game.players;let i=index;"
 [ngStyle]="{'top.px':100 +(i*90)}"
 [playerActive]="i == this.game.currentPlayer" [name]="player" class="playerPosition"></app-player>
<div class="field">
    <div class="cardStack">
          <!-- card stack-->
        <img [ngStyle]="{'right.px': i*5}" *ngFor="let card of [0,1,2,3]; let i = index;" src="assets/img/cards/purple_back.png" alt="">
        <img (click)="takeCard()" class="topCard"   style="right: 25px;" src="assets/img/cards/purple_back.png" alt="">
       <!-- Stack for played Cards-->
        <img *ngFor="let card of this.game.playedCards" class="playedCard" src="assets/img/cards/{{ card }}.png" alt="">
        <!-- currentCard-->
        <img (click)="takeCard()" *ngIf="this.game.takeCardAnimation" class="takeCard" style="right: 25px;" src="assets/img/cards/{{ this.game.currentCard }}.png" alt="">
    </div>
</div>
<app-game-info [card]="this.game.currentCard" class="pinBottom"></app-game-info>
<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>
